@import "../../styles/_colors.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;

  background-color: $gray-dashboard-background;

  border: 10px solid gray;
  border-radius: 50px;

  padding: 45px 35px;

  .innerwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;

    width: 100%;
    height: 100%;

    background-color: $gray-inner-dashboard-background;

    border: 1px solid $black-dashboard-border;
    border-radius: 50px;
  }
}
