$gray-dashboard-background: #cccccc;
$gray-inner-dashboard-background: #d9d9d9;
$black-dashboard-border: #000000;

$drive-button-border-hover: #999999;
$drive-button-turned-off-background: #efefef;
$drive-button-ready-orange: #f6b26b;
$drive-button-drive-green: #98c379;
$drive-button-error-red: #cc4125;

$drive-button-blink-1: #ffe599;
$drive-button-blink-2: #ffd966;
