@import "../../styles/colors";

.root {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 200px;
  height: 200px;

  border: 10px solid $drive-button-border;
  border-radius: 50%;

  background-color: #efefef;

  .innerCircle {
    position: absolute;

    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    z-index: 0;
  }

  .innercover {
    position: absolute;
    top: 55%;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    z-index: 2;

    background-color: #333333;
    box-shadow: 2px 3px 8px #999999;
  }

  .hand {
    display: block;
    width: 0;
    height: 0;
    z-index: 1;

    border-style: solid;
    border-width: 0 20px 80px 20px;
    border-color: transparent transparent black transparent;

    transform-origin: 20px 75px;
    transition: transform 3s ease-in-out;
  }

  .label {
    font-family: "Berkshire Swash", cursive;

    position: absolute;
    color: #444444;
  }

  .label0 {
    left: 10px;
    margin-top: 34px;
  }

  .label50 {
    top: 3px;
  }

  .label100 {
    right: 10px;
    margin-top: 34px;
  }
}
