@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");

body {
  background-color: #ffffff;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
