@import "../../../../styles/colors";

button.root {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 10px solid gray;

  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:hover {
    border: 10px solid $drive-button-border-hover;
  }

  &.turnedoff {
    background-color: $drive-button-turned-off-background;
  }

  &.ready {
    background-color: $drive-button-ready-orange;
  }

  &.drive {
    background-color: $drive-button-drive-green;
  }

  &.error {
    background-color: $drive-button-error-red;
  }

  &.blink {
    animation: blinker 0.8s linear infinite;
  }

  @keyframes blinker {
    0% {
      background-color: $drive-button-blink-1;
    }
    50% {
      background-color: $drive-button-blink-2;
    }
  }
}
