button.root {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 10px solid gray;

  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:hover {
    border: 10px solid #999999;
  }

  &.turnedoff {
    background-color: #efefef;
  }

  &.ready {
    background-color: #f6b26b;
  }

  &.drive {
    background-color: #98c379;
  }

  &.error {
    background-color: #cc4125;
  }

  &.blink {
    animation: blinker 0.8s linear infinite;
  }

  @keyframes blinker {
    0% {
      background-color: #ffe599;
    }
    50% {
      background-color: #ffd966;
    }
  }
}
